/* Base styles for mobile screens */

:root {
  /* Main colors */
  --primary-color: #3C5773;
  --secondary-color: #769AB2;
  --tertiary-color: #9DB2BF;
  --quaternary-color: #DDE6ED;

  /* Link color */
  --link-color: var(--secondary-color);

  /* Font families */
  --font-family: 'Poppins', sans-serif;
  --title-font-family: 'Ubuntu', sans-serif;

  /* Text color */
  --text-color: #27374D;

  /* Background */
  --background: var(--quaternary-color);

  /* Button colors */
  --button: var(--secondary-color);
  --button-text: var(--primary-color);

  /* Stroke color for borders and dividers */
  --stroke: var(--primary-color-dark);

  /* Shadows */
  --box-shadow: 0 2px 3px 0 var(--primary-color-dark);
  --text-shadow: 1px 1px 1px var(--primary-color-dark);
}

html {
  font-size: 16px;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family);
  color: var(--primary-color);
  background-color: var(--tertiary-color);
}

/* Toolbar styles */
.toolbar {
  background-color: var(--primary-color);
  color: var(--text-color);
  box-shadow: var(--box-shadow);
}

.toolbar a,
.toolbar a:hover,
a,
.social-links a,
.social-links a:hover {
  color: var(--secondary-color);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font-family);
  margin: 0;
}

/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--tertiary-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

nav li {
  margin-left: 0.5rem;
}

nav a {
  display: block;
  padding: 0.5rem;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
}

/* Main content styles */
main {
  padding: 1rem;
}

section {
  margin: 1rem 0;
  text-align: center;
}

section h2 {
  margin-bottom: 0.5rem;
}

.gallery-subsection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery-subsection img {
  width: calc(100% - 1rem);
  margin-bottom: 1rem;
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

label {
  margin-bottom: 0.25rem;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 0.25rem;
  border-radius: 0.25rem;
  border: 1px solid var(--primary-color);
  margin-bottom: 0.5rem;
}

input[type="submit"] {
  padding: 0.25rem;
  border-radius: 0.25rem;
  border: none;
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #e67e22;
}

img {
  max-width: 100%;
  border: 1px solid var(--primary-color);
  border-radius: 1em;
}

.social-links {
  display: flex;
  justify-content: center;
  margin: 0.5em 0;
  font-size: 1.5em;
}

.social-links a {
  margin: 0 0.25em;
  font-size: 1em;
}

footer p {
  text-align: center;
  margin: 0.5em 0;
}

.fas fa-palette {
  padding: 0.5em;
}

/* Media queries for larger screens */

@media (min-width: 768px) {
  :root {
    /* Main colors */
    --primary-color: #27374D;
    --secondary-color: #526D82;

    /* Shadows */
    --box-shadow: 0 4px 6px 0 var(--primary-color-dark);
    --text-shadow: 1px 1px 1px var(--primary-color-dark);
  }

  body {
    color: var(--primary-color);
    background-color: var(--tertiary-color);
  }

  /* Toolbar styles */
  .toolbar {
    color: var(--text-color);
    box-shadow: var(--box-shadow);
  }

  .toolbar a,
  .toolbar a:hover {
    color: var(--text-color);
  }

  nav ul {
    flex-wrap: nowrap;
  }

  nav li {
    margin-left: 1rem;
  }

  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
  }

  section {
    margin: 2rem 0;
  }

  section h2 {
    margin-bottom: 1rem;
  }

  .gallery-subsection img {
    width: calc(33.33% - 1rem);
  }

  form {
    margin-top: 2rem;
  }

  label {
    margin-bottom: 0.5rem;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    padding: 0.5rem;
    margin-bottom: 1rem;
  }

  input[type="submit"] {
    padding: 0.5rem;
  }

  .social-links {
    margin: 1em 0;
    font-size: 2em;
  }

  .social-links a {
    margin: 0 0.5em;
    font-size: 1.2em;
  }

  footer p {
    margin: 1em 0;
  }

  .fas fa-palette {
    padding: 1em;
  }
}